*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    background-color: lightblue;
    color: rgb(100, 100, 100);
    font-size: 48px;
    padding-left: 30px;
    padding-right: 15px;
    margin: 10px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 21px;
    font-weight: bold;
}

.hero {
    background-image: url(../images/hero-img.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
    width: 100%;
}

.hero h2{
    background-color: lightgray;
    position: absolute;
    padding: 10px;
    border: black solid 2px;
    right: 20px;
    bottom: 20px;
}

/* Main content. About Me and Work.*/
.about-me {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.about-me h2{
    font-size: 48px;
    border-right: solid black 3px;
    padding: 30px;
}

.about-me p{
    margin-left: 20px;
    font-size: 21px;
    width: 80%;
}

.work{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.work h2 {
    font-size: 48px;
    border-right: solid black 3px;
    padding: 30px;
}

.projects{
    width: 80%;
    margin-left: 20px;
}